
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
form *{
    font-family: "Poppins", sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.text-heading h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(198, 255, 107, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;  
}
button{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 18px;   
}
.input-field{
    margin-top: 20px;
    display: flex;
}
.text-heading>h1{
    font-size: 45px;
    font-family: 'Roboto';
    font-weight: 800;
}
#btnSingup{
    color: #080710;
    font-family: 'Philosopher';
    font-size: 24px;
    font-weight: 700;
}
#btnSingup:hover {
    background-color: rgb(0, 149, 144);
    color: #ffffff;
}
#signups{
    position: absolute;
    left: 8%;
    bottom: 24%;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    font-family: 'Philosopher'
}
#signups:hover {
    color: rgb(0, 149, 144)
}
#check {
    position: absolute;
    right: 10%;
    top: 51.5%;
    width: 30px;
    height: 30px;
}


